.ddContainer {
  position: relative;
}

.ddTrigger {
  @apply block p-1;
  @apply font-normal bg-transparent border-none rounded;

  cursor: pointer;
  font-size: 1rem /* 16px */;
  outline: none;
}
.ddTrigger * {
  display: block;
}

.ddMenu {
  @apply bg-white border rounded shadow-md overflow-hidden;

  position: absolute;
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 100ms cubic-bezier(0.4, 0, 0.2, 1), visibility 100ms;
  visibility: hidden;
  width: auto;
  z-index: 9;
}
.ddMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.ddMenu ul {
  @apply m-0 p-0;

  list-style: none;
}
.ddMenu ul li {
  @apply border-b border-gray-200;
}
.ddMenu ul li:last-child {
  @apply border-none;
}

.ddMenu ul li > * {
  @apply flex items-center gap-2;
  @apply px-5 py-3 w-full;
  @apply border-none rounded-none bg-white;

  text-align: left;
  text-decoration: none;
  white-space: nowrap;
}
.ddMenu ul li > button:not(:disabled):hover,
.ddMenu ul li > button:not(:disabled):focus {
  @apply bg-gray-100;
}

.ddMenu ul li button:disabled {
  @apply text-gray-400 cursor-not-allowed;
}
