.container {
  @apply max-w-4xl mx-auto my-0 px-4 pb-4 pt-4;

  min-height: calc(100vh - 8rem); /* AppHeader & Footer height */
}

.containerFluid {
  @apply w-full m-0 px-6 pb-4 pt-4;
}
.containerFluid.xScroll {
  @apply w-auto px-6;

  height: calc(100vh - 4rem); /* AppHeader height */
  overflow-x: scroll;
  overflow-y: scroll;
}
