.button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;

  * {
    display: block;
  }

  &.small {
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.25rem 0.5rem;
  }

  &.medium {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
  }

  &.big {
    font-size: 1.125rem;
    font-weight: 400;
    padding: 0.75rem 1.5rem;
  }
}
.button.round {
  border-radius: 3rem;
}
.button.primary {
  border-color: $grey-dark;
  color: $grey-dark;

  &:hover:not(:disabled),
  &:active:not(:disabled) {
    background-color: $grey-light;
  }
}
.button.primary.fill {
  background-color: $grey-light;
}
.button.red {
  border-color: $red;
  color: $red;

  &:hover:not(:disabled),
  &:active:not(:disabled) {
    background-color: lighten($red, 50%);
  }
}

.button.icon {
  border: none;
  border-radius: 3px;
  font-size: 1.25rem;
  padding: 0.25rem;

  &.small {
    font-size: 1rem;
  }

  &.medium {
    font-size: 1.25rem;
  }

  &.big {
    font-size: 1.5rem;
  }

  &.giant {
    font-size: 2rem;
  }

  &.naked {
    padding: 0;

    &:hover,
    &:active {
      background-color: transparent;
    }
  }
}
.button.icon.round {
  border-radius: 50%;
}

a.button {
  border-radius: 3rem;
  color: $text;
  font-size: 0.875;
  font-weight: 400;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
