.card {
  background-color: $bg;
  border: 1px solid $grey-light;
  border-radius: 3px;
  margin-bottom: 0.5rem;

  &-header {
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  &-title {
    align-items: center;
    display: flex;
    font-weight: 400;

    :first-child {
      color: $grey;
      margin-right: 0.5rem;
    }
  }

  &-body {
    line-height: 1.25;
    padding: 0.5rem;
  }

  &-footer {
    padding: 0.5rem;
  }

  &-actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }
}

.card-group {
  @extend .card;

  height: 100%;
  padding: 0.5rem;

  &-header {
    @extend .card-header;

    justify-content: space-between;
    margin-bottom: 0.75rem;
    padding: 0;
  }

  &-title {
    @extend .card-title;
  }

  .column-button {
    width: 100%;
  }
}

.image-card {
  background-color: $bg;
  border-radius: 3px;

  &-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    max-height: 20rem;
    overflow: hidden;
    width: 100%;

    img {
      object-fit: cover;
      object-position: bottom !important;
      width: 100%;
    }
  }

  &-body {
    border: 1px solid $grey-light;
    border-radius: 0 0 3px 3px;
    padding: 1rem;
  }

  &-actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }
}
