/* 
.columnsContainer {
  overflow-x: visible;
} 
*/
.columns {
  @apply flex gap-2 items-stretch justify-start;

  /* AppHeader + spacing, should be programmatic when ContentHeader is implemented */
  min-height: calc(100vh - 6rem);
}
.columns > .column {
  box-sizing: content-box;
  flex-shrink: 0;
  width: 20rem;
}
.columns > .column > button {
  @apply w-full h-10;
  @apply hover:bg-gray-200 border-0;
}
.columns > .column:last-of-type {
  @apply pr-6; /* Offset x-scroll container */
}
