.appHeader {
  @apply fixed w-full;
  @apply border-b border-gray-200 shadow-sm backdrop-blur-lg;

  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  display: inline-grid;
  grid-template-columns: auto auto;
  height: 4rem;
  z-index: 1;
}

.appHeaderLeft {
  @apply flex justify-self-start self-center items-center;
  @apply pl-4 md:pl-6;
  @apply text-left;

  grid-column-start: 1;
  pointer-events: auto;
}

.appHeaderCenter {
  @apply flex justify-self-center self-center items-center justify-center;
  @apply px-2;

  display: none;
  grid-column-start: 2;
  pointer-events: auto;
}

.appHeaderRight {
  @apply flex justify-self-end self-center items-center;
  @apply pr-4 md:pr-6;
  @apply text-right;

  grid-column-start: 3;
  pointer-events: auto;
}

.appHeaderHandle {
  @apply mr-4;
}

.appHeaderBrand {
  @apply mx-3;
  @apply text-xl font-medium text-gray-700;

  white-space: nowrap;
}
.appHeaderBrand a {
  text-decoration: none;
}
.appHeaderBrand span {
  @apply font-extralight;
}

.appHeaderActions {
  @apply flex items-center;
  @apply ml-4;
}
.appHeaderLeft .appHeaderActions {
  display: none;
}

.appHeaderSearch {
  @apply flex items-center;
}
.appHeaderSearch > input[type="text"] {
  @apply rounded-tr-none rounded-br-none;
}
.appHeaderSearch > button {
  @apply p-1;
  @apply bg-gray-200 hover:bg-gray-300 focus:bg-gray-300 border-none rounded-none rounded-tr rounded-br;
}

@media (min-width: 768px) {
  .appHeder {
    grid-template-columns: auto 30% auto;
  }
  .appHeaderLeft .appHeaderActions {
    display: flex;
  }
  .appHeaderCenter {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .appHeader {
    grid-template-columns: 35% 30% 35%;
  }
}

/* Unused for now

.appHeaderNav {
  @apply flex items-center;
}
.appHeaderNav ul {
  @apply m-0 p-0;

  display: none;
  list-style: none;
}
.appHeaderNav li a {
  @apply mx-1 px-4 py-2;
  @apply text-sm font-normal text-gray-700 rounded-full;

  text-decoration: none;
}
.appHeaderNav li a:hover,
.appHeaderNav li a:active {
  @apply bg-gray-200 text-black;
}
.appHeaderNav li .active {
  @apply bg-gray-200 text-black;
} 

*/
